@{
    ViewData["Title"] = "Pi App";
}

<div class="text-center">
    <h1 class="display-4">Digits of Pi</h1>
    <p>Get up to 10 000 digits of pi!</p>
	<div id="form-container" class="card">
        <form method="post" action="/Home/Pi">
            <label for="digits">Number of digits (2-10000): </label>
            <input type="number" name="digits" min="2" max="10000" value="@ViewData["NumDigits"]" />
            <input type="submit" value="Go!" />
        </form>
    </div>
	
	<div id="pi-container" class="card">
		<p id="pi">@ViewData["Digits"]</p>
	</div>

    <div id="footer" class="card">
        <p>GitHub links: <a href="https://github.com/WallyMitko/PiApp">Web App</a> <a href="https://github.com/WallyMitko/PiAPI">API</a></p>
    </div>
	
</div>
